@use "../../scss/forwards" as *;

.artboard-wrapper {
  width: calc(100% - 480px);
  height: calc(100vh - 60px);
  overflow: scroll;
}

.artboard-wrapper::-webkit-scrollbar {
  display: none;
}

.artboard {
  @include artboardSize;
  background-color: $object-artboard-bg;
  position: relative;
  transform-origin: 0 0;
}
