$text-black: #000;
$text-white: #fff;
$text-highlight: #5096ff;
$text-warning: #ff5050;
$text-guide: #999999;
$text-canvas-title: #d9d9d9;

$object-header-bg: #272727;
$object-sidebar-bg: #fff;
$object-artboard-bg: #f8f8f8;
$object-canvas-bg: #fff;
$object-line: #f8f8f8;
$object-button-bg: #5096ff;
$object-toolbox-bg: #fbfbfb;
$object-selected-tool-bg: #f4f7ff;
$object-selected-tool-stroke: #1673ff;
$object-selected-tool-stroke-bright: #c8deff;
$object-hovered-bg: #e3eeff;
$object-artboard-border: #aaaaaa;
