$text-black: #000;
$text-white: #fff;
$text-highlight: #5096ff;
$text-warning: #ff5050;
$text-guide: #999999;
$text-disabled: #808080;
$text-green: #adff2f;
$text-canvas-title: #d9d9d9;
$text-error-h1: #868686;
$text-code: #cccccc;

$object-header-bg: #272727;
$object-sidebar-bg: #fff;
$object-artboard-bg: #f8f8f8;
$object-canvas-bg: #fff;
$object-line: #f8f8f8;
$object-button-bg: #5096ff;
$object-button-grey-bg: #666666;
$object-button-cyan-bg: #1ba8f4;
$object-button-red-bg: #ff4343;
$object-toolbox-bg: #fbfbfb;
$object-selected-tool-bg: #f4f7ff;
$object-selected-tool-stroke: #1673ff;
$object-selected-tool-stroke-bright: #c8deff;
$object-hovered-bg: #e3eeff;
$object-artboard-border: #aaaaaa;
$object-code-bg: #000000;
