@use "../../scss/forwards" as *;

.layer {
  @include flexCenterRow;
  width: 100%;
  height: 35px;
  padding-left: 20px;
  box-sizing: border-box;
  border: 1px solid white;
  font-size: $regular-font-size;

  &:hover {
    border: 1px solid $object-selected-tool-stroke;
    box-sizing: border-box;
  }
}

.layer.hovered {
  border: 1px solid $object-selected-tool-stroke;
}

.layer.selected {
  background-color: $object-selected-tool-bg;
}

.layer.grabbing {
  background-color: darken($object-selected-tool-bg, 10%);
}
