@use "../../scss/forwards" as *;

@mixin toolBox {
  width: 38px;
  height: 38px;
  border: 1px solid $object-toolbox-bg;

  &:hover {
    background-color: $object-selected-tool-bg;
  }
}

.box-rectangle {
  @include toolBox;
  background: url("../../../../public/assets/tool-rectangle.png") no-repeat
    center;
  background-color: $object-toolbox-bg;
}

.box-rectangle.selected {
  @include toolBox;
  background: url("../../../../public/assets/tool-rectangle.png") no-repeat
    center;
  background-color: $object-selected-tool-bg;
  border: 1px solid $object-selected-tool-stroke;
}

.box-ellipse {
  @include toolBox;
  background: url("../../../../public/assets/tool-ellipse.png") no-repeat center;
  background-color: $object-toolbox-bg;
  background-size: 20px 20px;
}

.box-ellipse.selected {
  @include toolBox;
  background: url("../../../../public/assets/tool-ellipse.png") no-repeat center;
  background-color: $object-selected-tool-bg;
  border: 1px solid $object-selected-tool-stroke;
  background-size: 20px 20px;
}

.box-line {
  @include toolBox;
  background: url("../../../../public/assets/tool-line.svg") no-repeat center;
  background-color: $object-toolbox-bg;
}

.box-line.selected {
  @include toolBox;
  background: url("../../../../public/assets/tool-line.svg") no-repeat center;
  background-color: $object-selected-tool-bg;
  border: 1px solid $object-selected-tool-stroke;
}

.box-selector {
  @include toolBox;
  background: url("../../../../public/assets/tool-selector.png") no-repeat
    center;
  background-color: $object-toolbox-bg;
  background-size: 23px 20px;
}

.box-selector.selected {
  @include toolBox;
  background: url("../../../../public/assets/tool-selector.png") no-repeat
    center;
  background-color: $object-selected-tool-bg;
  border: 1px solid $object-selected-tool-stroke;
  background-size: 23px 20px;
}

.box-text {
  @include toolBox;
  background: url("../../../../public/assets/tool-text.svg") no-repeat center;
  background-color: $object-toolbox-bg;
}

.box-text.selected {
  @include toolBox;
  background: url("../../../../public/assets/tool-text.svg") no-repeat center;
  background-color: $object-selected-tool-bg;
  border: 1px solid $object-selected-tool-stroke;
}

.mock {
  @include toolBox;
  background-color: $object-toolbox-bg;
}
