@use "../../scss/forwards" as *;

.sidebar {
  background-color: $object-sidebar-bg;
  width: 240px;
  height: calc(100vh - 60px);
  box-sizing: border-box;
  overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar__inner {
  @include flexCenterColumn;
  padding-top: 20px;
}
