@use "../../scss/forwards" as *;

.picker-wrapper {
  @include flexCenterRow;
  width: 100%;
  height: 30px;

  & > span {
    font-family: "Fira Mono", monospace;
    font-size: $regular-font-size;
    color: $text-guide;
    letter-spacing: 0.1em;
  }
}

.picker {
  height: 20px;
  width: 20px;
  margin-left: 20px;
  margin-right: 10px;
  padding: 0;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.picker::-webkit-color-swatch-wrapper {
  padding: 0;
}
.picker::-webkit-color-swatch {
  border: none;
  border-radius: 2px;
}
